################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureBus.DedupDemo
/bin/
/obj
/appsettings.overrides.json
