################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureBus.DedupDemo
/bin/Debug/netcoreapp3.1
/obj
/appsettings.overrides.json
